// Globals

$media-size-xs = em-calc(320px) // phone
$media-size-sm = em-calc(425px) // phablet
$media-size-md = em-calc(768px) // tablet
$media-size-lg = em-calc(1024px) // desktop
$media-size-xl = em-calc(1440px) // wide screen

$media-size-xs-min = 0
$media-size-sm-min = $media-size-xs + em-calc(1px)
$media-size-md-min = $media-size-sm + em-calc(1px)
$media-size-lg-min = $media-size-md + em-calc(1px)
$media-size-xl-min = $media-size-lg + em-calc(1px)

$media-size-xs-min-query = 'screen and (min-width: %s)' % $media-size-xs-min
$media-size-sm-min-query = 'screen and (min-width: %s)' % $media-size-sm-min
$media-size-md-min-query = 'screen and (min-width: %s)' % $media-size-md-min
$media-size-lg-min-query = 'screen and (min-width: %s)' % $media-size-lg-min
$media-size-xl-min-query = 'screen and (min-width: %s)' % $media-size-xl-min

$grid-columns = 12
$grid-gutter = 2em
$grid-gutter-small = 1em
